<!doctype html>
<html>
  <head>
    <title>{{block "title" .}}{{end}}</title>
    <style>
      body {
        width: 500px;
        margin: 0 auto;
      }

      table {
        width: 100%;
      }

      table thead {
        background: #EEEEEE;
      }
    </style>
  </head>
  <body>
    {{block "content" .}}{{end}}
  </body>
</html>
